 #header {
                width:1048px;
                height: 45px; 
                background-image: url(../img/footer.png);
                font-family:Arial, Helvetica, sans-serif;
            }
            
            #header2 {
                width: 100%;
                height: 45px; 
                background-image: url(../img/uet/footer.png);
                font-family:Arial, Helvetica, sans-serif;
            }
            #header2.foot{
                bottom: 0px;
                position: absolute;
            }
            
            ul, ol {
                list-style:none;
            }
            
            .nav > li {
                float:left;
            }
            
            .nav li a {
                background-color:#036;
                color:#fff;
                text-decoration:none;
                padding:10px 12px;
                display:block;
            }
            
            .nav li a:hover {
                background-color:#434343;
            }
            
            .nav li ul {
                display:none;
                position:absolute;
                min-width:140px;
            }
            
            .nav li:hover > ul {
                display:block;
            }
            
            .nav li ul li {
                position:relative;
            }
            
            .nav li ul li ul {
                right:-140px;
                top:0px;
            }
           