body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  vertical-align: middle;
}

/*fondo header*/
.ancho_head{
  width:100%;
  height:158px;
  background-image: url(../img/uet/banner_fondo2.png);
  position:fixed;
  display:block;
  margin-top::0px;
  margin-left:0px;
  margin-right:0px;
  top:0;
  left:0;
  right:0;
}
/*logos de la cabecera*/
.logotipos{
  background-image: url(../img/uet/banner.png);
  vertical-align:top;
  top:0px;
  margin-top: 0px;
  width:1020px;
  height: 116px;
 /* border: 1px solid #006;*/
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  position: relative;
  display: inline-block;
}
/*estilo de la barra de menu*/
.footer_menu{
  margin-right: 0;
  margin-left: 0;
  z-index: -2px;
  position: static;
	padding:0px 0px 4px 0px;
	color:#FFF;
	height:28px;
	background:#006;
  margin-top: -14px;
	left:0px;
  right:0px; 
  bottom:0px;
  border-bottom: 1px solid #FFF;
  border-radius: 10px;
}

/*estilos del menu*/
.container_lm {	
  margin-top: 119px;
  margin-left: 0px;
  margin-right: 0px;
  left: 0px;
  right: 0px;
  padding-top: 3px;
  border-top: 0px solid #006;
	width: 1020px;
  height: 33px;
  text-align: center;
  vertical-align:baseline;
  position: inherit;
	display:inline-block;
}
.container_lm .dropdown {
  text-align: left;
}
.dropdown {
  position: relative;
  border: 1px thin #006;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  display: inline-block;
  vertical-align: baseline;
  *display: inline;
  *vertical-align: auto;
  border-spacing:0px;
  
}
.dropdown a {
  font-weight:bold;
  font-size: 12px;
  text-decoration: none;
}
.dropdown > a {
  float: left;
  position: relative;
  line-height: 20px;
  padding: 0 8px;
  color: #256FC0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
}
.dropdown > a:hover {
  background: #006;
  color:#FFF;
  border: 1px solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
}
.dropdown > a.active {
  background: #006;
  color:#FFF;
  border: 1px solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
}

/*estilos del cuerpo*/
.cuerpo_principal{
  color: #039;
  background-image: url(../img/fondo.gif);
  vertical-align: top;
  top: 0px;
  margin-top: 3px;
  width: 1020px;
  height: auto;
  border-left:2px solid #006;
  border-right:2px solid #006;
  border-bottom:30px solid #006;
  border-top:2px solid #006;
  border-radius: 4px;
  position: relative;
  display:block;
}

/*estilos del pie*/
.pie_pagina{
  font-size: 11px;
  color:#FFF;
  width:100000px;
  height:auto;
  background-image: url(../img/uet/footer.png);
  position:static;
  display:inline;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  bottom:0;
  left:12.35%;
  right:0;
  padding: 7px 0 7px 0;
  vertical-align: center;
  border-radius:4px;
  -ms-border-radius:4px;
  -webkit-border-radius:5px;
  -moz-border-radius:3px;
  
}
.pie_pagina span{
  border:1px solid #F00;
  border-radius:15px;
  -ms-border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  padding:0px 2px 0px 2px;
  background:#F00;

}