#main { 
  width: 815px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 3px 6px 3px 3px;
  background: #006;
  float: left;
  vertical-align: middle;
  position:fixed;

}

#site_content { 
  width: 815px;
  overflow: hidden;}

/* styling for the slideshow on the homepage */
ul.slideshow {
  list-style: none;
  width: 815px;
  height: 450px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;}
 
#slideshow-caption {
  width: 810px;
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;
  color: #FFF;
  background:  #373737;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 20px 25px 0 25px;   
  z-index: 1000;
  
}
 
#slideshow-caption p {
  padding: 0;
  text-align:left;
  font-weight: bolder;
  filter: alpha(opacity=50);
  font: normal 150%  'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #FFF;
  text-transform: uppercase; 
}